*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans';
    line-height: 25px;
    font-size: 18px;
}

.debug{
    border: 2px solid black;
}
.debug-topbar{
    width: 100%;
    height: 60px;
}
.debug.debug-first-col{
    height: 200px;
}
.debug.debug-col{
    height: 250px;
}
.debug.debug-col-circle{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
.debug.debug-small-col{
    height: 150px;
}




:root{
    --blue:#0084fd;
    --lightblue:#b5ddff;
    --violet:#9792e4;
    --white:#ffffff;
    --black:#333333;
    --gray: #62778b;
}
.container{
    margin:0 auto;    
    max-width: 280px;

}
section{
        padding: 50px 0;
}
header a,
main a {
    text-decoration: none;
    font-weight: 700;
    color: var(--white);
}
.link{
    padding: 5px;
    text-align: center;
    border-radius:40px ;
}

main section:first-child img,
main section:nth-child(2) img{
    height: 250px;
}
main section:nth-child(3)  img,
main section:nth-child(5)  img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.flex{
    display: flex;
}
.direction{
    flex-direction: column ;
}
.space-between{
    justify-content: space-between;
}
.border-radius{
    border-radius: 15px;
}

/* HEADER */

.topbar{
    background-color:var(--blue) ;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.topbar .row{
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.topbar img{
    padding: 10px;
}


/* /HEADER */


/* MAIN */
main{
    padding-top: 60px;
}

/* 1° SECTION */

section:first-child {
    margin:30px 0 20px 0;  
}

section:first-child .row{
    background-color: var(--lightblue);
    margin-bottom:20px;  
}
section:first-child .col{
    padding: 20px;
}
section:first-child h3{
    color: var(--blue) ;
}
section:first-child p{
    font-weight: 700;
    color: var(--gray) ;
    margin: 20px 0 30px 0;
}
section:first-child .link{
    width: 200px; 
    background-color: var(--blue);
}
section:first-child .row:not(.row:first-child){
    text-align: center;

}
section:first-child .row:not(.row:first-child) i {
    color: var(--blue);  
    margin: 10px 0; 
}
section:first-child .fa-solid{
    font-size: 50px;
}
/* 2° SECTION */

section:nth-child(2){
    background-color: var(--violet);    
}

section:nth-child(2) .row{
    margin: 40px 0;

}
section:nth-child(2) .row:first-child{
    color: var(--white);

}
section:nth-child(2) .row:nth-child(2){
    background-color:var(--white) ;
    padding: 25px;

}
section:nth-child(2) .row:first-child h2{
    margin: 40px 0;

}
section:nth-child(2) .row:last-child h2{
    margin: 15px 0;
    text-align: center;

}
section:nth-child(2) .row:last-child p{
    text-align: center;

}
section:nth-child(2) .row:last-child .col{
    text-align: center;

}

section:nth-child(2) .link{
    width: 40px; 
    height: 40px;
    background-color: var(--violet);
    border-radius:50% ;
    margin: 50px 0;

}
section:nth-child(2) .link i {
    color: var(--black);
}


/* 3° SECTION */

section:nth-child(3){
    text-align: center;

}
section:nth-child(3) h1{
    color: var(--violet);
    margin: 30px 0;
}
section:nth-child(3) .card{
    color: var(--white);
    margin-bottom: 40px;
}
section:nth-child(3) .card p::before{
    content: '\275D';
    font-size: 30px;
}
section:nth-child(3) .card p::after{
    content: '\275E';
    font-size: 30px;
}
section:nth-child(3) .card p{
    margin-bottom: 10px;
}
section:nth-child(3) .card span{
    font-weight: 700;
}

section:nth-child(3) .row:not(.row:first-child){
    background-color:var(--violet) ;
    margin:30px 0 ;

}
section:nth-child(3) .row:not(.row:first-child) .col:first-child{
    margin: 50px;
}

/* 4° SECTION */

section:nth-child(4){
    background-color:var(--violet) ;

}
section:nth-child(4) .row:first-child h1{
    text-align: center;
    margin-top: 50px;
    color: var(--white);

}
section:nth-child(4) .card{
    padding: 30px 20px;
    margin: 20px 0;
    background-color:var(--white);

}
section:nth-child(4) .card h2{
    margin-bottom: 30px;
    color: var(--violet);

}
section:nth-child(4) .card p{
    margin-bottom: 20px;
    color: var(--gray);

}

section:nth-child(4) .cards .link{
    background-color:var(--violet) ;
    width: 100px;

}

/* 5° SECTION */
section:nth-child(5){    
    line-height: 40px;
}
section:nth-child(5) .row{
    margin: 30px 0;
}
section:nth-child(5) h1{
    color: var(--violet);
}
section:nth-child(5) .text{
    margin: 30px 0 50px 0;

    
}
section:nth-child(5) .text p:first-child{
    margin-bottom: 50px;
    
}
section:nth-child(5) .link{
    margin: 25px 0;
    width: 200px;
    background-color: var(--violet);
}
/* 6° SECTION */

section:nth-child(6){
    background-color:var(--violet) ;
    text-align: center;
    color: var(--white);
}
section:nth-child(6) span{
    font-size: 14px;
}
section:nth-child(6) h1{
    color: rgb(248, 219, 4);
    margin: 30px 0;
}
section:nth-child(6) h1,
section:nth-child(6) h2,
section:nth-child(6) .link{
    margin: 30px 0;
}
section:nth-child(6) .link{
    width: 200px;
    background-color: var(--white);
}
section:nth-child(6) .link a{
    color: var(--violet);
}


/* /MAIN */

/* FOOTER */

footer{
    background-color:var(--black);
    color: var(--white);
    font-size: 16px;
}
footer p{
    padding: 50px 0;
}
footer a{
    color: var(--violet);
}

/* /FOOTER */



@media screen and (min-width:769px) {
    .container{
        max-width: 700px;
    }
    section:first-child .card{
        width: calc(100% / 3); 
    }
    section:first-child .card:first-child{
        width: calc(100% / 2);
        display: flex;
    }
 
    section:first-child .direction{
        flex-direction: row;
        flex-wrap: wrap;        
        justify-content: space-between;
    }
    section:nth-child(3) .direction {
        flex-direction: row;

    }
    section:nth-child(3) .card{
        display: flex;
    }
    section:nth-child(4) .cards{
        display: flex;
        flex-wrap: wrap;        
        justify-content: space-between;
    }
    section:nth-child(4) .card{
        width: 50%;
    }
    section:nth-child(5) .container{
        display: flex;
    }


}

@media screen and (min-width:1201px){
    .container{
        width: 1200px;
    }
    section:nth-child(2) .container {
        display: flex;

    }
    section:nth-child(2) .row{
        width: 50%;

    }
    section:nth-child(4) .card{
        width: calc(100% / 3);
    }

}