*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.debug{
    border: 2px solid black;
}
.debug-topbar{
    width: 100%;
    height: 60px;
}
.debug.debug-first-col{
    height: 200px;
}
.debug.debug-col{
    height: 250px;
}
.debug.debug-col-circle{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
.debug.debug-small-col{
    height: 150px;
}




:root{
    --blue:#0084fd;
    --lightblue:#b5ddff;
    --violet:#9792e4;
    --white:#ffffff;
    --black:#333333;
}
.container{
    margin:0 auto;
    border: 1px solid green;    
    max-width: 280px;
}

.flex{
    display: flex;
}
.direction{
    flex-direction: column ;
}
.space-between{
    justify-content: space-between;
}
.border-radius{
    border-radius: 15px;
}

/* HEADER */

.topbar{
    background-color:var(--blue) ;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

/* /HEADER */


/* MAIN */
main{
    padding-top: 60px;
}

/* 1° SECTION */

section:first-child {
    margin:30px 0 20px 0;  
}
section:first-child .row{
    background-color: var(--lightblue);
    margin-bottom:20px;  
    border: 1px solid red;
}

/* 2° SECTION */

section:nth-child(2){
    background-color: var(--violet);    
    margin-top: 30px;
}
section:nth-child(2) .row{
    margin: 40px 0;

}
section:nth-child(2) .row:nth-child(2){
    background-color:var(--white) ;

}

/* 3° SECTION */

section:nth-child(3) .row:not(.row:first-child){
    background-color:var(--violet) ;
    margin:30px 0 ;

}
section:nth-child(3) .row:not(.row:first-child) .col:first-child{
    margin: 50px;
}

/* 4° SECTION */

section:nth-child(4){
    background-color:var(--violet) ;

}
section:nth-child(4) .cards{
    background-color:var(--white) ;
    margin:30px 0 ;

}

/* 5° SECTION */
section:nth-child(5) .row{
    margin: 30px 0;
}
/* 6° SECTION */

section:nth-child(6){
    background-color:var(--violet) ;

}


/* /MAIN */

/* FOOTER */

footer{
    background-color:var(--black);
}

/* /FOOTER */



@media screen and (min-width:769px) {
    .container{
        max-width: 700px;
    }
    section:first-child .card{
        width: calc(100% / 3); 

        
    }
    section:first-child .card:first-child{
        width: calc(100% / 2);
    }
    section:first-child .direction{
        flex-direction: row;
        flex-wrap: wrap;        
        justify-content: space-between;
    }
    section:nth-child(3) .direction {
        flex-direction: row;

    }
    section:nth-child(3) .card{
        display: flex;
    }
    section:nth-child(4) .cards{
        display: flex;
        flex-wrap: wrap;        
        justify-content: space-between;
    }
    section:nth-child(4) .card{
        width: 50%;
    }
    section:nth-child(5) .container{
        display: flex;
    }


}

@media screen and (min-width:1401px){
    .container{
        width: 1200px;
    }
    section:nth-child(2) .container {
        display: flex;

    }
    section:nth-child(2) .row{
        width: 50%;

    }
    section:nth-child(4) .card{
        width: calc(100% / 3);
    }

}